//- split into groups of 3 for easy row building
//- - var appsGrouped = appList.reduce(function (prev, item, i) { if(i % 4 === 0){prev.push([item]);} else {prev[prev.length - 1].push(item);} return prev; }, []);

//- each group in appsGrouped
  //- .row.row-keep-margin.clearix
    //- each app in group

each app in appList
  li.col-sm-4.col-md-3.col-lg-2.app-rapper.text-center
    .app-card
      a(href=app.url target='_blank')
        img.app-icon(src='#{nestLevel}img/apps/128-height/' + app.id + '.png')
        h5.fg-maqua.fs-xsmall #{app.name}
      .app-description.text-left
        p.fs-xxsmall(title=app.description) #{app.description}
      if (app.reviews && (app.reviews.apple && app.reviews.google))
        .app-reviews.text-left
          if app.reviews.apple && app.reviews.apple.count && app.reviews.apple.average
            p.review.fs-xxsmall
              a(href=app.apple_url, target='_blank')
                img.apple-logo(src='#{nestLevel}img/apps/apple-logo.svg', alt='Apple logo')
                span.fw-strong #{app.reviews.apple.average}
                - // TODO proper pluralization of review(s)
                span.fg-mgrey  from #{app.reviews.apple.count} reviews

          if app.reviews.google && app.reviews.google.count && app.reviews.google.average
            p.review.fs-xxsmall
              a(href=app.google_url, target='_blank')
                img.android-logo(src='#{nestLevel}img/apps/android-logo.svg', alt='Android logo')
                span.fw-strong #{app.reviews.google.average}
                span.fg-mgrey  from #{app.reviews.google.count} reviews