extends layout

block content
  include ../includes/_topnav

  .container
    h1.page-title Locate your records
    .row
      .col-md-3.col-sm-3
        h4.fg-dgrey Select a source
        h6
          strong.fg-maqua Tip:
          |  You may have records in more than one source.

      .col-sm-9
        ul.row.data-sources.list-unstyled.text-center
          li.col-sm-6
            a.box-link-rapper(href='#insurance', data-toggle='tab')
              h3.fg-white Health Insurance
              i.insurance-icon.fa.fa-umbrella.isize-48
              h6.start-here.fg-white start here
          li.col-sm-6
            a.box-link-rapper(href='#physician', data-toggle='tab')
              h3.fg-white Physician or Hospital
              i.fa.fa-user-md.isize-48
          li.col-sm-6
            a.box-link-rapper(href='#pharmacy', data-toggle='tab')
              h3.fg-white Pharmacy
              i.fa.fa-medkit.isize-48
          li.col-sm-6
            a.box-link-rapper(href='#lab', data-toggle='tab')
              h3.fg-white Lab
              i.fa.fa-flask.isize-48
          li.col-sm-6
            a.box-link-rapper(href='#immunization', data-toggle='tab')
              h3.fg-white Immunization Registry
              i.fa.fa-file-text-o.isize-48

    #select-provider-wrapper.tab-content
      #insurance.tab-pane.row
        .col-md-3.col-sm-12
          h4.fg-dgrey Select your insurance provider

        .col-md-9.col-sm-9.providers!= html.insurance


      #physician.tab-pane.row
        .col-md-3.col-sm-12
          h4.fg-dgrey Select your physician

        .col-md-9.col-sm-9.providers!= html.physician

      #pharmacy.tab-pane.row
        .col-md-3.col-sm-12
          h4.fg-dgrey Select your pharmacy

        .col-md-9.col-sm-9.providers!= html.pharmacy

      #lab.tab-pane.row
        .col-md-3.col-sm-12
          h4.fg-dgrey Select your lab

        .col-md-9.col-sm-9.providers!= html.lab

      #immunization.tab-pane.row
        .col-md-3.col-sm-12
          h4.fg-dgrey Select your immunization registry

        .col-md-9.col-sm-12!= html.immunization

