extends layout
append vars
  - pgTitle = 'Blue Button Connector | Organizations'
block content
  include ../includes/_topnav

  .container
    h1.page-title Locate your records

    .row

      .col-sm-4
        h4.fg-mgrey Select a source
        h6
          strong.fg-maqua Tip:
          |  You may have records from more than one source.

        ul.data-sources.list-unstyled.clearfix
          li
            a.box-link-rapper(href='#insurance', data-toggle='tab')
              .wrap-source-icon
                i.insurance-icon.fa.fa-umbrella.isize-36
              p.data-source-title.fs-small.fg-maqua.fw-strong Health Insurance
              //- p.hide.rarr &gt;
              //- h6.start-here.fg-white start here
          li
            a.box-link-rapper(href='#physician', data-toggle='tab')
              .wrap-source-icon
                i.fa.fa-user-md.isize-36
              p.data-source-title.fs-small.fg-maqua.fw-strong Hospital
              //- p.hide.rarr &gt;
          li
            a.box-link-rapper(href='#pharmacy', data-toggle='tab')
              .wrap-source-icon.wrap-pharmacy-icon
                i.fa.fa-medkit.isize-36
              p.data-source-title.fs-small.fg-maqua.fw-strong Pharmacy
              //- p.hide.rarr &gt;
          li
            a.box-link-rapper(href='#lab', data-toggle='tab')
              .wrap-source-icon
                i.fa.fa-flask.isize-36
              p.data-source-title.fs-small.fg-maqua.fw-strong Lab
              //- p.hide.rarr &gt;
          li
            a.box-link-rapper(href='#immunization', data-toggle='tab')
              .wrap-source-icon
                i.fa.fa-file-text-o.isize-36
              p.data-source-title.fs-small.fg-maqua.fw-strong Immunization Registry
              //- p.hide.rarr &gt;
          li
            a.box-link-rapper(href='#hie', data-toggle='tab')
              .wrap-source-icon
                i.fa.fa-random.isize-36
              p.data-source-title.fs-small.fg-maqua.fw-strong Health Information Exchange Portals
              //- p.hide.rarr &gt;

      #select-provider-wrapper.tab-content.col-sm-8

        #insurance.tab-pane
          h4.fg-mgrey Select your insurance provider
          .row.providers!= html.insurance

        #physician.tab-pane
          h4.fg-mgrey Select your physician
          .row.providers!= html.physician

        #pharmacy.tab-pane
          h4.fg-mgrey Select your pharmacy
          .row.providers!= html.pharmacy

        #lab.tab-pane
          h4.fg-mgrey Select your lab
          .row.providers!= html.lab

        #immunization.tab-pane
          h4.fg-mgrey Select your immunization registry
          .row.providers!= html.immunization

        #hie.tab-pane
          h4.fg-mgrey Select your exchange portal
          .row.providers!= html.hie

