div(id=category+'-list-wrapper').col-sm-12.col-md-6
  //- this gets normalized from 'provider,' 'hospital,' etc
  if category === 'hie'
    p.fs-medium Coming soon...
  else
    if category === 'physician'
      label.fs-medium Search by state
      .provider-search-wrapper
        select.form-control.input-lg.provider-search-state
          option(value='false') Choose a state...
          each st in unitedStates
            option(value=st.label.toLowerCase())= st.label
      label.fs-medium or search by name
    else
      label.fs-medium Search by name

    .input-group.provider-search-wrapper
      input.form-control.input-lg.provider-search-name(type='search' placeholder="e.g. " + searchPlaceholder)
      span.input-group-addon
        i.fa.fa-search.isize-24

    ul(id=category+'-list').nav.nav-pills.nav-stacked.provider-list.list
      each org in orgList
        li: a.provider-link(data-state=org.location.state, href='organizations/' + org.id + '.html') #{org.organization}
  img.scroll-hint(src='img/transparent-white-gradient.png', width='100%', height='25px')

.tab-content.col-sm-12.col-md-6
  .no-data
    h4 Don't see your organization listed?
    h6
      | You may have a legal right under HIPAA to get your health records electronically. Download and send&nbsp;
      include ../includes/_request-records
