div(id=category+'-list-wrapper').col-sm-12.col-md-6
  //- this gets normalized from 'provider,' 'hospital,' etc
  if category === 'hie'
    p.fs-medium Coming soon...
  else
    if category === 'physician'
      label.fs-medium Search by state
      .provider-search-wrapper
        select.form-control.input-lg.provider-search-state
          option(value='false') Choose a state...
          each st in unitedStates
            option(value=st.label.toLowerCase())= st.label
      label.fs-medium or search by name
    else
      label.fs-medium Search by name

    .input-group.provider-search-wrapper
      input.form-control.input-lg.provider-search-name(type='search' placeholder="e.g. " + searchPlaceholder)
      span.input-group-addon.hidden-xs
        i.fa.fa-search.isize-24

    ul(id=category+'-list').nav.nav-pills.nav-stacked.provider-list.list
      each org in orgList
        li: a.provider-link(data-state=org.location.state, href='organizations/' + org.id + '.html') #{org.organization}
    .scroll-hint-wrapper.text-center
      .scroll-hint.fa.fa-chevron-down.isize-24.no-show

.tab-content.col-sm-12.col-md-6
  .no-data
    h4 Don't see your organization listed?
    h6
      | Let them know you have a legal right to your records under HIPAA (
      a.not-listed-learn-more.fw-strong.fg-mblue(href='http://www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/righttoaccessmemo.pdf', target='_blank') see this letter for details
      | ).
