div(id=category+'-list-wrapper').col-sm-12.col-md-6
  label.fs-medium Search by state
  .provider-search-wrapper
    select.form-control.input-lg.provider-search-state
      option(value='false') Choose a state...
      each st in unitedStates
        option(value=st.label.toLowerCase())= st.label

  label.fs-medium or search by name
  .input-group.provider-search-wrapper
    input.form-control.input-lg.provider-search-name(type='search' placeholder="e.g. " + searchPlaceholder)
    span.input-group-addon
      i.fa.fa-search

  ul(id=category+'-list').nav.nav-pills.nav-stacked.provider-list.list
    each provider in providerList
      li: a.provider-link(data-state=provider.location.state, href='providers/' + provider.id + '.html') #{provider.organization}

.tab-content.col-sm-12.col-md-6
  .no-data
    h4 Don't see your organization or provider listed?
    h6 You may have a legal right under HIPAA to get your health records electronically. Download and send this letter to your provider.
    a.not-listed-learn-more.fw-strong.fs-medium(href='blue-button-request.pdf', target='_blank') Download form letter (PDF)
