extends layout
block content
  include ../includes/_topnav
  .container
    h1.page-title Use my health records

    h4.use-records-description.readable-width.fg-dgrey
      | Take your records with you. Plug them into apps and other services that help
      | you reach your health goals and receive recommendations to keep you at your best.

    p.readable-width There are thousands of health apps out there. Most of them require you to enter in your own information. Wouldn't it be nice if they connected directly to your information in your existing health records?

    p.readable-width The apps here use Blue Button+ standards, meaning they accept information directly from your healthcare providers' records or another data source (assuming your healthcare provider is using the Blue Button+ standards on their end).

    p.readable-width So when you find an app you like here, you can upload your own health information. You can also use these apps even if your doctor or other data source isn't sharing data via Blue Button yet.

    hr.hairline

    ul#receiver-list.row.list-unstyled.text-center
      include _receiver-list

    .text-center
      ul.pagination.pagination-lg
        if page > 1
          li
            a(href='userecords-' + (page-1) + '.html')!= '&laquo;'
        else
          li.disabled
            a(href='#')!= '&laquo;'

        - for (var i = 1; i < totalPages+1; i++)
          if i === page
            li.pagination-link.active
              a(href='userecords-' + i + '.html', data-page=i)
                | #{i}
                span.sr-only (current)
          else
            li.pagination-link
              a(href='userecords-' + i + '.html', data-page=i)
                | #{i}

        if page < totalPages
          li
            a(href='userecords-' + (page+1) + '.html')!= '&raquo;'
        else
          li.disabled
            a(href='#')!= '&raquo;'

    hr.hairline
    h5.fw-normal.fg-dblue Know an app that should be listed?
    h6.fg-mgrey Tell us about it or suggest corrections.
    a.btn.btn-primary(href='/update-receiver.html') Suggest an app
    hr.hairline
    .app-disclaimer
      p.readable-width
        | The apps and services above contains just a fraction of the resources available
        | today. The Department of Health and Human Services or the U.S. Government does not
        | endorse any product, service or general policies of any non-Federal entity nor is
        | responsible for the content of any individual organization's material or web pages
        | found at these links.
