block vars
  - var nestLevel = ''
  - var pgTitle = 'Blue Button Connector | Use Your Health Records'
!!! 5
html
  block head
    head
      title= pgTitle
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      link(rel='shortcut icon', href='#{nestLevel}favicon.ico')

      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script.
        window.jQuery || document.write('<script src="#{nestLevel}js/jquery-1.10.2.min.js">\x3C/script>')
      block mainstyle
        link(rel='stylesheet', href='#{nestLevel}css/bbhub-combined.css')

  body
    block content

    block footer
      .section.footer
        .container
          //- ul.pull-right.list-inline
          //-   li: a(href="#").share-icon: i.icon-envelope
          //-   li: a(href="https://www.facebook.com/bluebuttonhealth").share-icon: i.icon-facebook
          //-   li: a(href="https://twitter.com/ProjectBlueBtn").share-icon: i.icon-twitter

          ul.footer-links.list-inline.inline
            li.hidden-xs.force-inline: img.little-logo(src='#{nestLevel}img/bb-logo-depth-small-greybg.jpg')
            li:  a(href='#{nestLevel}supporters') Supporters
            li.hidden-xs.force-inline:  |
            li:  a(href='#{nestLevel}developers') Developers
            li.hidden-xs.force-inline:  |
            li:  a(href='#{nestLevel}privacy') Privacy
            li.hidden-xs.force-inline:  |
            li:  a(href='http://www.hhs.gov/Disclaimer.html') Disclaimer
            li.hidden-xs.force-inline:  |
            li: a(href='mailto:bluebutton@hhs.gov?subject=Feedback%20on%20Blue%20Button%20Connector', target='_blank') Feedback
          p.fs-xxsmall This project was funded by the Office of the National Coordinator for Health Information Technology (ONC)
    block mainscript
      script(src='#{nestLevel}js/bbhub-combined.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-23987631-2', 'auto');
      ga('send', 'pageview');
