extends templates/layout
block content
  include templates/_topnav
  .container
    h1.page-title Use my health records

    h4.use-records-description.readable-width.fg-dgrey
      | Take your records with you. Plug them into apps and other services that help
      | you reach your health goals and receive recommendations to keep you at your best.

    ul#receiver-list.row.list-unstyled.text-center

    //- FIXME make this dynamic
    .text-center
      ul.pagination.pagination-lg.hide
        li.disabled
          a(href='#')!= '&laquo;'
        li.pagination-link.active
          a(href='#', data-page='1')
            | 1
            span.sr-only (current)
        li.pagination-link
          a(href='#', data-page='2')
            | 2
            span.sr-only.hide (current)
        li
          a(href='userecords-2.html')!= '&raquo;'

    .app-disclaimer
      p
        | The apps and services above contains just a fraction of the resources available
        | today. The Department of Health and Human Services or the U.S. Government does not
        | endorse any product, service or general policies of any non-Federal entity nor is
        | responsible for the content of any individual organization’s material or web pages
        | found at these links.

  script.

    'use strict';

    var apps = [];
    // Add ECMA262-5 Array methods if not supported natively
    //
    if (!('indexOf' in Array.prototype)) {
      Array.prototype.indexOf= function(find, i /*opt*/) {
        if (i===undefined) i= 0;
        if (i<0) i+= this.length;
        if (i<0) i= 0;
        for (var n= this.length; i<n; i++)
          if (i in this && this[i]===find)
            return i;
        return -1;
      };
    }
    if (!('map' in Array.prototype)) {
      Array.prototype.map= function(mapper, that /*opt*/) {
        var other= new Array(this.length);
        for (var i= 0, n= this.length; i<n; i++)
          if (i in this)
            other[i]= mapper.call(that, this[i], i, this);
        return other;
      };
    }
    if (!('filter' in Array.prototype)) {
      Array.prototype.filter= function(filter, that /*opt*/) {
        var other= [], v;
        for (var i=0, n= this.length; i<n; i++)
          if (i in this && filter.call(that, v= this[i], i, this))
            other.push(v);
        return other;
      };
    }

    $.ajax({
      url: 'https://script.google.com/macros/s/AKfycbxlbakvkyNWUFFKtWeHE_mAyVNGjV7uX3vapzbZiuOxYtpraAA/exec?format=jsonp&list=receivers',
      success: onLoadReceiverList,
      dataType: 'jsonp',
      crossDomain: true
    });

    $('.pagination-link a').click(function(evt){
      var $self = $(this);
      var $childSpan = $self.find('sr-only');
      var $parentLi = $(this).parent('.pagination-link');

      $parentLi.addClass('active')
      $('.pagination-link.active').removeClass('active');
      $parentLi.addClass('active');
      $('.pagination .sr-only').addClass('hide');
      $childSpan.removeClass('hide');

      pageReceiverList($self.data('page'));
      evt.preventDefault();
      return false
    });

    function onLoadReceiverList(data) {
      apps = data.results;
      $('.pagination').removeClass('hide');
      pageReceiverList(1);
    }

    function pageReceiverList(pg) {
      var offset = parseInt(pg, 10) - 1;
      var batch = apps.slice(6*offset,6*pg);
      var fromTemplate = receiverList_tpl({receiverList:batch});
      $('#receiver-list').html(fromTemplate);
    }
