//- FIXME THIS IS TEMP. NEED TO DRY THIS AND PROVIE XHR OPTION WHEN PAGING.
extends templates/layout
block content
  include templates/_topnav
  .container
    h1.page-title Use my health records

    h4.use-records-description.readable-width.fg-dgrey
      | Take your records with you. Plug them into apps and other services that help
      | you reach your health goals and receive recommendations to keep you at your best.

    - var apps = []
    - apps.push({name: 'Hint Health', link: 'http://go.hint.com', img: 'healthvault.png', description:'coming soon'})
    - apps.push({name: 'Ice Blue Button', link: 'http://www.humetrix.com/icebb.html', img: 'ibluebutton.png', description:'coming soon'})
    - apps.push({name: 'LyfeChannel', link: 'http://lyfechannel.com/', img: 'followmyhealth.png', description:'coming soon'})
    - apps.push({name: 'Better', link: 'http://www.getbetter.com/', img: 'gazelle.png', description:'coming soon'})
    - apps.push({name: 'Prime', link: 'http://stayinyourprime.com/', img: 'nomoreclipboard.png', description:'coming soon'})

    ul.row.list-unstyled.text-center
      each app in apps
        li.col-sm-4.app-rapper
          a.text-center(href=app.link)
            i.app-coming-soon.icon-question-sign.fg-lgrey
            //- img.app-icon(src='img/apps/' + app.img)
          h5.fg-maqua= app.name
          h6.app-description= app.description

    .text-center
      ul.pagination.pagination-lg
        li
          a(href='userecords.html')!= '&laquo;'
        li
          a(href='userecords.html') 1

        li.active
          a(href='#')
            | 2
            span.sr-only (current)
        li
          a(href='#') 3
        li
          a(href='#')!= '&raquo;'

    .app-disclaimer
      p
        | The apps and services above contains just a fraction of the resources available
        | today. The Department of Health and Human Services or the U.S. Government does not
        | endorse any product, service or general policies of any non-Federal entity nor is
        | responsible for the content of any individual organization’s material or web pages
        | found at these links.
